## 🧠 Requirements

This project is implemented in **R** (≥ 4.1).  
Required packages include:

```r
# List of required packages
required_packages <- c(
  "OTrecod",
  "MASS",
  "mice",
  "VIM",
  "dplyr",
  "ggplot2",
  "naniar",
  "norm",
  "devtools"
)

# Install any missing packages
new_packages <- required_packages[!(required_packages %in% installed.packages()[,"Package"])]
if(length(new_packages)) install.packages(new_packages)

